.form-section {
  padding: 5rem 2rem;
  max-width: 400px;
  margin: auto;
  text-align: center;

  h1 {
    @include gradient-text;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      padding: 0.75rem;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 1rem;
      background-color: #111;
      color: $color-text;
    }

    input::placeholder {
      color: $color-text-muted;
    }

    button {
      @include button($color-accent, $color-text-light);
      font-weight: bold;
    }
  }

  div[style*="color: red"],
  div[style*="color: green"] {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
}

@include respond(sm) {
  .form-section {
    padding: 3rem 1rem;
  }
}