.event-card {
  position: relative;
  background: $color-dark;
  color: $color-text;
  border-radius: 10px;
  padding: 1rem;
  margin: 1.5rem;
  box-shadow: 0 0 6px $color-shadow;
  gap: 1rem;
  border-left: 6px solid $color-border;
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
  }

  img {
    width: 100%;
    max-height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  h3 {
    // margin: 0;
    font-size: 1.3rem;
  }

  p {
    margin: 0.25rem 0;
    color: $color-text-muted;
  }

  .view-details {
    @include button;
    display: inline-block;
    margin-top: 1rem;
    width: auto;
    align-self: flex-start;
  }

  .fav-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      scale: 1.2;
      transition: all 0.2s ease-in-out;
    }
  }
}
