.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem;


  label {
    margin-right: 0.5rem;
    color: $color-accent; 
  }

  select {
    padding: 0.5rem 0.75rem;
    background: $color-dark;
    color: $color-text;
    border: 1px solid $color-text-muted;
    border-radius: 10px;

    &:focus {
      outline: none;
      border-color: $color-accent;
      box-shadow: 0 0 5px $color-accent;
    }
  }
}