.footer {
  padding: 2rem;
  background: $color-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  color: $color-text;
  min-height: 250px;

  h4 {
    font-size: 1.1rem;
    color: $color-accent;
  }
    .footer-cols {
      display: flex;
      gap: 2rem;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 350px;
        height: 1px;
        position: absolute;
        bottom: -30px;
        left: 15%;
        background: linear-gradient(to right, $color-accent, $color-border);
      }
    }

    .footer-logo {
      width: 80px;
    }

    .socials i {
      margin-right: 0.5rem;

      &:hover {
        scale: 1.5;
        transition: all 0.2s ease-in-out;
      }
    }
  }

