$color-bg: #121212;
$color-dark: #030303;
$color-accent: #b4ff00;
$color-text: #fdfffb;
$color-text-muted: #aaaaaa;
$color-text-light: #0c0b0b;
$color-border: #a000ff;
$color-shadow: #575757;

$font-heading: 'Orbitron', sans-serif;
$font-body: 'Roboto', sans-serif;
